body {
    display: flex;
    justify-content: center;
    margin: 0px;
    height: 100vh;
    background: white;
}

.Image {
    height: 300px;
    border-radius: 100px;
    margin-top: 20%;
    background-color: gray;
    box-shadow: 0 2px 2px rgba(1, 1, 1, 1.1);
}
  
#Button:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 4px;
    margin-top: auto;
    padding-top: 2px;
    padding-bottom: 2px;
}

.title span:after {
    content: 'web developer';
    animation: words 6s infinite;
}

.wrapper {
    text-align: center;
    margin-top: 0px;
}

.title {
    font-family: Arial, sans-serif;
    color: #000;
}

#Button {
    padding: 9px 9px;
    font-size: 0.9em;
    cursor: pointer;
    margin-top: 2px;
    font-weight: bolder;
    border-radius: 20px;
    background-color: gray;
    color: aliceblue;
    box-shadow: 0 2px 2px rgba(1, 1, 1, 1.1);
}

@keyframes words {
    0%, 33% {
        content: 'Web Developer';
        color: red;
    }

    34%, 66% {
        content: 'Creative Designer';
        color: blue;
    }

    67%,
    100% {
        content: 'Digital Creator';
        color: goldenrod;
    }
}